<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="container">
        
        <h1>CRUD</h1>

        <h3>This is Create part</h3>

        {{>header}}

        <form action="" method="POST">
            <label>Username</label> &nbsp;
            <input type="text" name="username" placeholder="username"><br><br>
            <label>Email</label> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" name="email" id="" placeholder="abc@xyz.com"><br><br>
            <label>Password</label> &nbsp;
            <input type="password" name="password" placeholder="password"><br><br>
            <button class="btn btn-success">Submit</button>
        </form>
         {{>footer}}
        </div>


        <script src="../../crud.js"></script>
    </body>
</html>