<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1>CRUD</h1>

        <h3>This is create part</h3>

        {{>header}}

        <form action="" method="POST">
            <label>Username</label>
            <input type="text" name="username" placeholder="username"><br>
            <label>Email</label>
            <input type="email" name="email" id="" placeholder="abc@xyz.com"><br>
            <label>Password</label>
            <input type="password" name="password" placeholder="password"><br>
            <button>Submit</button>
        </form>

        {{>footer}}


        <script src="../../crud.js"></script>
    </body>
</html>