<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <h1>CRUD</h1>

        <h3>This is update part</h3>

        {{>header}}

        <form action="" method="POST">
            <label>username</label>
            <input type="text" name="username">
            <label>Enter new password</label>
            <input type="text" name="password">
            <button>Submit</button>
        </form>

        {{>footer}}
    </body>
</html>